@import 'reset';
@import 'fonts';
@import 'vars';
@import 'global';

.header {

	.container {
		padding: 0px 13px;
	}

	&__menu {
		position: fixed;
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 1170px;
		width: 100%;
		padding: 57px 0;
		z-index: 9999;
	}

	&__items {
		display: flex;
		align-items: center;
	}

	&__item {
		margin-right: 44px;
	}

	&__link {
		line-height: 1.2;
	}

	&__navigation {
		position: relative;
		border-radius: 5px;
		margin-right: 8px;
		transition: background-color 0.3s, outline 0.3s, box-shadow 0.3s;
	}

	&__navigation:not(:last-child) {
		margin-left: 8px;
	}

	&__navigation:hover {
		background-color: $accent;
	}

	&__navigation:active {
		background-color: $active;
	}

	&__search,
	&__cart {
		display: block;
		background-color: $default;
		mask-position: center;
		mask-repeat: no-repeat;
		height: 44px;
		width: 44px;
		background-position: center;
		background-repeat: no-repeat;
		border-radius: 5px;
		transition: all 0.3s;
	}

	&__search {
		mask-image: url(../images/icons/search.svg);
	}

	&__cart {
		mask-image: url(../images/icons/cart.svg);
	}

	&__navigation:hover>.header__search {
		mask-image: url(../images/icons/search.svg);
		mask-position: center;
		mask-repeat: no-repeat;
		background-color: $white;
		background-image: none;
	}

	&__navigation:active>.header__search {
		background-color: $default;
	}

	&__search:focus {
		mask-image: none;
		background-image: url(../images/icons/search.svg);
		background-color: $active;
		outline: transparent;
		box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
		transition: all 0.3s;
	}

	&__navigation:hover>.header__cart {
		mask-image: url(../images/icons/cart.svg);
		mask-position: center;
		mask-repeat: no-repeat;
		background-color: $white;
	}

	&__navigation:active>.header__cart {
		background-color: $default;
	}

	&__cart:focus {
		mask-image: none;
		background-image: url(../images/icons/cart.svg	);
		background-color: $active;
		outline: transparent;
		box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
		transition: all 0.3s;
	}

	&__number {
		position: absolute;
		display: block;
		width: 14px;
		height: 14px;
		border-radius: 50%;
		text-align: center;
		font-size: 10px;
		line-height: 1.5;
		color: #ffffff;
		background-color: $accent;
		top: 7px;
		right: 2px;
		transition: background-color 0.3s, color 0.3s;
	}

	&__navigation:hover>.header__number {
		background-color: $white;
		color: $accent
	}

	&__navigation:active>.header__number {
		background-color: $accent;
		color: $white
	}
}

.hero {

	.container {
		padding: 0px 13px;
	}

	&__info {
		display: grid;
		align-content: center;
		justify-content: start;
		height: 87vh;
		position: relative;
		left: -6px;
		padding-top: 32px;
	}

	&__title {
		max-width: 450px;
		font-weight: 500;
		font-size: 66px;
		line-height: 1.3;
		text-transform: uppercase;
		margin-bottom: 21px;
		color: $dark-blue;
		margin-top: 7px;
	}

	&__title--color {
		color: $accent;
	}

	&__text {
		font-size: 20px;
		line-height: 1.5;
		max-width: 450px;
		margin-bottom: 19px;
	}

	&__links {
		display: flex;
		align-items: center
	}

	&__button {
		padding: 12px 32px;
		font-size: 18px;
		letter-spacing: 0.03em;
		margin-right: 34px;
	}

	&__link {
		text-decoration-line: underline;
		color: $dark-blue;
		font-size: 20px;
	}

	&__img {
		position: absolute;
		background-size: cover;
		width: 560px;
		height: 660px;
		right: 3px;
		top: 52%;
		transform: translateY(-50%);
	}
}

.popular {

	.title {
		padding-right: 10px;
	}

	&__categories {
		display: grid;
		grid-template-columns: repeat(5, auto);
		justify-content: start;
		margin-top: 60px;
		margin-bottom: 45px;
	}

	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 21px;
		line-height: 1.3;
		color: $dark-blue;
		background-color: $white;
		border-radius: 5px;
		height: 70px;
		box-shadow: 0px 0px 0px 1px #ECECEC;
		transition: box-shadow 0.3s, fill 0.3s, background-color 0.3s, color 0.3s;
	}

	&__link:focus {
		box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
		outline: transparent;
	}

	&__link:hover {
		box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
		background-color: $active;
		color: $accent;
	}

	&__link:hover .popular__icon {
		fill: $accent;
	}

	&__link:active {
		box-shadow: inset 0px -5px 12px rgba(255, 104, 56, 0.2);
		background-color: $white;
		color: $dark-blue;
	}

	&__link:active .popular__icon {
		fill: $dark-blue;
	}

	&__icon {
		margin: -1px 9px 0 26px;
		fill: $dark-blue;
		transition: fill 0.3s;
	}

	&__link>span {
		margin-right: 26px;
	}

	.mixitup-control-active {
		background-color: $accent;
		color: $white;
		border: transparent;

		.popular__icon {
			fill: $white;
		}
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(5, auto);
		grid-template-rows: repeat(2, auto);
		grid-gap: 30px;
		margin-bottom: 60px;
		margin-right: 15px;
	}

	&__item {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		width: 210px;
		height: 299px;
		border-radius: 5px;
		padding: 20px 15px;
		box-shadow: 0px 0px 0px 1px #ECECEC;
		background-color: $white;
		transition: box-shadow 0.3s;
	}

	&__item:hover {
		box-shadow: 0px 0px 0px 1px $accent;
	}

	&__img {
		max-width: 140px;
		margin: 0 auto 10px;
	}

	&__name {
		text-align: center;
		height: 36px;
		width: 200px;
		word-wrap: break-word;
	}

	&__name>h3 {
		font-size: 15px;
		line-height: 18px;
		font-weight: 400;
	}

	&__price {
		font-weight: 500;
		font-size: 15px;
		line-height: 1.4;
		color: $dark-blue;
	}

	&__button {
		padding: 7px 16px;
		font-size: 14px;
	}

	&__more {
		cursor: pointer;
		position: relative;
		display: inline-block;
		left: 50%;
		transform: translateX(-56%);
		margin-bottom: 120px;
		text-decoration-line: underline;
		color: $dark-blue;
		font-size: 20px;
		line-height: 1.5;
		transition: text-decoration 0.3s, box-shadow 0.3s, border-radius 0.3s, text-shadow 0.3s, outline 0.3s, color 0.3s;
	}
}

.features {

	&__content {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		margin-bottom: 120px;
	}

	&__img {
		margin-right: 51px;
	}

	&__text {
		max-width: 470px;
		margin-right: 16px;
	}

	&__text>h3 {
		display: block;
		margin-bottom: 30px;
	}

	&__text>p {
		font-weight: 400;
		font-size: 20px;
		line-height: 1.5;
		margin-bottom: 30px;
	}

	&__item {
		background-repeat: no-repeat;
		margin-bottom: 20px;
		word-break: break-all;
		background-position-y: center;
	}

	&__item>p {
		padding-left: 64px;
		font-size: 24px;
		line-height: 1.5;
	}

	.timer {
		background-image: url(../images/icons/timer-icon.svg);
	}

	.delivery {
		background-image: url(../images/icons/delivery-icon.svg);
	}

	.resturent {
		background-image: url(../images/icons/resturent-icon.svg);
	}

	&__button {
		margin-top: 10px;
		width: 165px;
		height: 47px;
		font-size: 18px;
		line-height: 1.3;
	}
}

.restorant {

	&__list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-row-gap: 30px;
		grid-column-gap: 15px;
		margin-bottom: 120px;
	}

	.title {
		padding-right: 32px;
		margin-bottom: 43px;
	}

	&__item {
		position: relative;
		width: 370px;
		height: 419px;
		background-color: #ffffff;
		box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
		border-radius: 10px;
		transition: box-shadow 0.3s;
	}

	&__item:hover {
		box-shadow: 0px 3px 15px rgba(255, 104, 56, 0.5);
	}

	&__img {
		cursor: pointer;
		margin-bottom: 15px;
	}

	&__name {
		margin-left: 20px;
		margin-bottom: 20px;
		color: $default;
		max-height: 30px;
		overflow: hidden;
	}

	&__name>h3 {
		font-weight: 400;
		font-size: 24px;
		line-height: 1.3;
	}

	.work-time {
		display: block;
		background-image: url(../images/icons/small-timer.svg);
		background-position: left;
		background-position-y: center;
		background-repeat: no-repeat;
		margin-left: 20px;
		padding-left: 30px;
		font-weight: 300;
		font-size: 18px;
		line-height: 30px;
		opacity: 0.9;
	}

	.button {
		position: absolute;
		bottom: 20px;
		right: 20px;
		width: 79px;
		height: 33px;
		border-radius: 20px;

		.arrow-right {
			position: relative;
			fill: #ffffff;
			transition: fill 1s, transform 1s;
		}
	}

	.button:hover .arrow-right {
		fill: $accent;
		transform: translateX(20px);
	}

	.button:active .arrow-right {
		fill: $accent;
		transform: translateX(0px);
	}

	.button:focus .arrow-right {
		fill: $accent;
	}
}

.testimonials {

	.title {
		margin-bottom: 45px;
		padding-right: 15px;
	}

	&__list {
		position: relative;

		.slick-list {
			.slick-track {
				display: flex;
			}
		}
	}

	.slick-dots {
		display: flex;
		justify-content: center;
		margin-bottom: 132px;
		padding-right: 10px;

		li {
			padding: 0 7px;
			line-height: 0;

			button {
				cursor: pointer;
				padding: 0;
				font-size: 0;
				background-color: #C2C2C2;
				box-shadow: 0px 0px 0px 2px transparent;
				width: 15px;
				height: 15px;
				margin-top: 50px;
				border-radius: 50%;
				transition: box-shadow 0.3s, background-color 0.3s;

				&:focus {
					box-shadow: 0px 0px 0px 2px #FF6838;
					outline: transparent;
				}

				&:hover {
					box-shadow: 0px 0px 0px 2px rgba(255, 122, 80, 0.7);
					background-color: #FFF2ED;
				}

				&:active {
					background-color: #FFAE94;
					box-shadow: 0px 0px 0px 2px transparent;
				}
			}

			&.slick-active {
				button {
					background-color: #FFAE94;

					&:focus {
						background-color: #C2C2C2;
					}
				}
			}
		}
	}

	.slick-arrow {
		cursor: pointer;
		position: absolute;
		bottom: 0;
		width: 40px;
		height: 40px;
		padding: 0px;
		outline: transparent;
		border-radius: 50%;
		transition: box-shadow 0.3s;

		&:focus {
			border-radius: 50%;
			box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
		}

		&:active {
			box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0);
		}

		&:hover {
			box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0);
		}

		&:hover circle {
			fill: #FFF2ED;
			stroke: #FFAE94;
			fill-opacity: 1;
		}

		&:hover path {
			fill: #FFAE94;
		}

		&:active circle {
			fill: #FFF2ED;
			stroke: #FFF2ED;
			fill-opacity: 1;
		}

		&:active path {
			fill: $accent;
		}

		& circle,
		& path {
			transition: all 0.3s;
		}

	}

	.slick-prev {
		left: calc(50% - 12px);
		bottom: -12px;
		transform: translateX(-270%);
	}

	.slick-next {
		left: calc(50% - 43px);
		bottom: -12px;
		transform: translateX(270%);
	}

	.slider {
		display: flex;
	}

	.content {
		display: flex;
		align-items: center
	}

	&__img {
		display: inline-block;
		border-radius: 50%;
		margin-right: 7%;
		margin-left: 7.3%;
	}

	&__blockquote {
		display: inline-block;
		max-width: 570px;
		margin-top: 8px;
	}

	.text {
		font-weight: 400;
		font-style: italic;
		position: relative;
		margin-bottom: 30px;

		&::before {
			content: "";
			position: absolute;
			left: -40px;
			background-image: url(../images/icons/quotes-first.svg);
			width: 24px;
			height: 19px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}

		&::after {
			content: "";
			position: absolute;
			right: -40px;
			bottom: 0px;
			background-image: url(../images/icons/quotes-second.svg);
			width: 24px;
			height: 19px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}
	}

	.name {
		margin-bottom: 8px;
		color: $accent;
		font-weight: 500;
		line-height: 1.3;
	}

	&__blockquote>span {
		font-size: 14px;
		line-height: 1.3;
	}
}

.application {

	&__inner {
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin-bottom: 120px;
		margin-right: -13px;

		.title {
			margin-top: 42px;
		}

		.application__text {
			margin-top: 4px;
		}

		.title,
		.application__text,
		.application__download {
			max-width: 540px;
			grid-column-start: 1;
			grid-column-end: 2;
		}

		.application__img {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			max-width: 570px;
			height: 380px;
			grid-column-start: 2;
			grid-row-start: 1;
			grid-row-end: 4;
		}

		.application__download {
			display: flex;
			margin-top: -7px;

			li:not(:last-child) {
				margin-right: 29px;
			}
		}
	}
}

.footer {

	&__inner {
		display: flex;
		justify-content: flex-start;
		column-gap: 70px;
		margin-bottom: 71px;
	}

	&__subscribe {
		display: flex;
		flex-direction: column;
	}

	&__email {
		width: 200px;
		height: 44px;
		background: $white;
		border: 1px solid #C2C2C2;
		border-radius: 5px;
		margin: 30px 0 12px;
		padding: 13px 15px;
		font-size: 14px;
		line-height: 1.3;
		color: #C2C2C2;
		opacity: 0.9;
		transition: box-shadow 0.3s, border 0.3s, color 0.3s, opacity 0.3s;
	}

	&__email::placeholder {
		color: #C2C2C2;
		opacity: 0.9;
	}

	&__email:hover::placeholder {
		color: #363853;
		opacity: 0.9;
		transition: all 0.3s;
	}

	&__email:focus {
		outline: transparent;
		box-shadow: 0px 0px 0px 2px #FF6838;
		border: 1px solid #c2c2c200;
	}

	&__button {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-position-x: 40px;
		width: 200px;
		height: 44px;
		border: none;
		padding: 0 40px;
		font-weight: 500;
		font-size: 14px;
		text-align: right;
		line-height: 19px;
	}

	&__navigation {
		display: grid;
		grid-template-columns: repeat(3, auto);
		grid-template-rows: repeat(4, auto);
		column-gap: 70px;
		grid-auto-flow: column;
		max-height: 170px;
		font-size: 18px;
		letter-spacing: 0.01em;
	}

	&__contacts {
		font-size: 16px;
		line-height: 2.0;
		display: inline-block;
	}

	&__contact {
		height: 32px;
		margin-bottom: 15px;
	}

	&__contact>a {
		display: flex;
		align-items: center;
		font-size: 16px;
		line-height: 2;
	}

	&__contact svg {
		margin-right: 10px;
	}

	&__social {
		display: flex;
	}

	&__icon {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #ECECEC;
		width: 39px;
		height: 39px;
		margin-right: 13px;
		border-radius: 50%;
		transition: background-color 0.3s, box-shadow 0.3s;
	}

	&__icon:focus {
		outline: transparent;
		background-color: $active;
		box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
	}

	&__icon:hover {
		background-color: $accent;
	}

	&__icon:hover path {
		fill: $white;
		transition: all 0.5s;
	}

	&__icon:active {
		outline: transparent;
		background-color: $active;
		box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0);
	}

	&__icon:active path {
		fill: $accent;
		transition: all 0.5s;
	}

	&__copyright {
		display: block;
		text-align: center;
		padding: 21px 15px 21px 0;
		font-size: 14px;
		line-height: 1.0;
		border-top: 1px solid #C2C2C2;
	}

}